<div class="app__container">
  <div class="app__header">
    <h1 class="app__text__header">Список городов</h1>
  </div>
  <div class="app__controls">
    <div>
      <button class="app__button__list" (click)="toggleViewMode('list')">Список</button>
      <button class="app__button__tile" (click)="toggleViewMode('tile')">Плитка</button>
    </div>
    <button class="app__button__create" (click)="navigateToCreate()">Создать</button>
  </div>
  @if (viewMode === 'list') {
    <app-list-view [cities]="cities" (toggleFavorite)="toggleFavorite($event)"></app-list-view>
  }
  @if (viewMode === 'tile') {
    <app-tile-view [cities]="cities" (toggleFavorite)="toggleFavorite($event)"></app-tile-view>
  }
</div>
